node_modules
public
apps/**/translations/**/default.json
LICENSE.md
README.md
CONTRIBUTING.md
Dockerfile
.dockerignore
docker-compose.yml
.devcontainer
.cacheWe need flexibility to maintain and evolve these workflows within our own repositories, so our developers can adjust commands and behaviour as needed without being restricted by a common template.
bin
kube
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
.npmrc
test
jest.config.json
jest.env.js
coverage
sonar-project.properties
pull-request-template.md
hof-services-config
